[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Xibo Player
Comment=Xibo Player
Exec=/usr/bin/xibo-watchdog
Terminal=true
Icon=/usr/share/xibo/xibo-player.png
Categories=AudioVideo
Version=1.0
